body {
    margin: 0;
    height: 100vh;
    background-image: url('https://i.postimg.cc/hvts8yhR/29a7235d9dc8c469b521d2d280ab46dd.jpg');
    background-size: cover;
    background-position: center 60%;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Контейнер кнопок */
.buttons {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 50px;
}

/* Общие стили для всех кнопок */
.back-button {
    display: inline-block;
    padding: 12px 25px;
    margin: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 2rem;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    transition: 0.3s;
}

/* Индивидуальные цвета */
.back-button2 {
    background: rgba(111, 0, 0, 0.5);
    border: 2px solid rgb(116, 0, 0);
    color: rgb(255, 150, 150);
}

.back-button3 {
    background: rgba(0, 187, 255, 0.4);
    border: 2px solid rgb(0, 143, 191);
    color: rgb(0, 202, 253);
}

.back-button5 {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid white;
    color: white;
}

.back-button4 {
    background: rgba(205, 133, 8, 0.4);
    border: 2px solid rgb(215, 135, 5);
    color: rgb(248, 103, 0);
}

.back-button1 {
    background: rgba(195, 17, 118, 0.4);
    border: 2px solid rgb(255, 0, 119);
    color: rgb(255, 0, 179);
}

/* Эффект при наведении */
.back-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Адаптация под телефон */
@media (max-width: 600px) {
    .back-button {
        font-size: 1.5rem;
        padding: 10px 20px;
    }
}
